<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Blog Form</title>
</head>
<body>
    <div class="container">
        <div class="bg-white px-3" style="box-shadow: 0px 3px 6px rgba(0,0,0,.16);">
            <%- include('header') %>
            <div class="container">
                <% if(search != '') { %>
                <h1 class="pt-5 fw-bold">Search Items</h1>
                <div class="d-flex flex-wrap align-items-center pt-3">
                    <% for(var i of search) { %>
                        <div class="w-20">
                            <div class="recipe-inner text-center">
                                <a href="/showDetails/<%= i.id %>"><img src="<%= i.ProImage %>" width="100%"></a>
                                <h6 class="py-3"><%= i.name %></h6>
                            </div>
                        </div>
                    <% } %>
                </div>
                <% } else { %>
                    <p class="pt-5 display-5">No item found.</p>
                <% } %>
            </div>
            <%- include('footer') %>
        </div>
    </div>
</body>
</html>