<%-include('header')%>
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">Bootstrap Table</a></li>
                                <li class="breadcrumb-item"><a href="#!">Basic Tables</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Basic Table</h5>
                            <span class="d-block m-t-5">use class <code>table</code> inside table element</span>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>GRID</th>
                                            <th>Student Name</th>
                                            <th>email</th>
                                            <th>course</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var no=1 ; for(var i of data){%>
                                            <tr>
                                                <td>
                                                    <%= no++ %>
                                                </td>
                                                <td>
                                                    <%=i.name%>
                                                </td>
                                                <td>
                                                    <%=i.email%>
                                                </td>
                                                <td>
                                                    <%=i.cource%>
                                                </td>
                                                <td><a href="/view_addmission_profile/<%=i.id%>"
                                                        class="btn btn-primary px-2 py-1">details</a></td>
                                            </tr>
                                            <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%-include('footer')%>